<p>Burası ana sayfa</p>
{{!--
<h6>Sistemi kullanabilmek için kayıt olmanız gerekmektedir.</h6>
<div class='list-group'>
  {{#link-to 'sign-up' class='list-group-item'}}Kayıt Ol{{/link-to}}
</div>
<h6>Kayıtlıysanız Giriş Yapmak için Tıklayın.</h6>
<div class='list-group'>
  {{#link-to 'login' class='list-group-item'}}Giriş Yap{{/link-to}}
</div>
--}}