<h3>Yeni yazı oluştur</h3>

<form id="NewPost">
    <p>
      {{input value=newPost.title placeholder="Başlık"}}
    </p>
    <p>
      {{textarea value=newPost.body placeholder="Metin" rows="10" cols="140"}}
    </p>
    <p>
        <button {{action "createPost" newPost}}>Gönder</button>
    </p>
</form>