<div class='page-header'>
    <h4>Giriş Yap</h4>
</div>
{{input type='text' class='form-control' value=email placeholder='E-Posta'}}
{{input type='password' class='form-control' value=password placeholder='Şifre'}}
<button class='btn btn-default' {{action 'signUp'}}>
  {{fa-icon 'user-plus'}} Giriş Yap
</button>